# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.pyenv/
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
wheels/
share/python-wheels/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Flask files
instance/
.env
.flaskenv

# Environments
.env/
.venv/
env/
ENV/
venv/

# macOS
.DS_Store

# VSCode
.vscode/

# PyCharm
.idea/

# Jupyter Notebooks
.ipynb_checkpoints/

uploads/